html {
  background-color: #007BBA; /* #007BBA #cc6666;
/*  background: url("../assets/20150314-D7K_9055.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .9;*/
}

circle.menu {
  stroke: #FFFFFF;
}

#my-logo {
  position: fixed;
  height: 14%;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#head-shot {
  display: none;
  z-index: 10002;
  position: fixed;
  height: 25%;
  top: 22%;
  left: 50%;
  border: solid;
  border-color: white;
  border-radius: 25px;
  border-width: 2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  border-radius:25px;
}


#head-shot-outline {
  display: none;
  z-index: 10002;
  position: fixed;
  height: 25%;
  top: 22%;
  left: 50%;
  border: solid;
  border-color: white;
  border-radius: 25px;
  border-width: 4px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  border-radius:25px;
}


.title {
  min-width: 300px;
  position: fixed;
  top: 42%;
  left: 50%;
  margin-bottom: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#name {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  margin: auto 0 0;
  font-size: 2em;
  white-space: nowrap;
}

#description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
  margin: auto 0;
  font-size: 1.3em;
}

.connect-icon {
  position: relative;
}

.connectors{
  position: fixed;
  z-index: 10056;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.connectors-background{
  z-index: 9999;
  display: none;
  position: fixed;
  background-color: #007BBA;
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  border-radius: 25px;
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.connectors-outline{
  z-index: 10034;
  display: none;
  position: fixed;
  background-color: transparent;
  width: 160px;
  height: 610px;
  text-align: -webkit-center;
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 25px;
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close-connectors {
  cursor: pointer;
  position: absolute;
  z-index: 10035;
  width: 36px;
  height: 39px;
  right: -15px;
  top: -25px;
  color: white;
  background-color: rgb(76, 76, 76);
  border-radius: 100px;
  webkit-border-radius:100px;
  -moz-border-radius:100px;
  -ms-border-radius:100px;
  -o-border-radius:100px;
}

#email {
  display: block;
  color: #FFFFFF;
  font-size: 1000%;
}

#linked-in {
  display: block;
  color: #BBE5F7;
  font-size: 1000%;
}

#facebook {
  display: block;
  color: #5BC8F7;
  font-size: 1000%;
}

#github {
  display: block;
  color: #00AEF9;
  font-size: 1000%;
}

#about {
  width: 20%;
  left: 9%;
  top: 20%;
  position: fixed;
  font-size: 1.1em;
  color: #ccccff;
  text-align: justify;
  text-justify: auto;
}

#cv {
  position: fixed;
}

#lean_overlay {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  opacity: .50;
  display: none;
}

#modal1 {
  z-index: 10001;
  top: 50%;
  width: 65%;
  border-radius: 25px;
  webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  font-family: 'Raleway', sans-serif;
}

#modal2{
  text-align: -webkit-center;
  border-radius: 22px;
  webkit-border-radius:22px;
  -moz-border-radius:22px;
  -ms-border-radius:22px;
  -o-border-radius:22px;
  z-index: 10001;
  top: 10%;
  height: 80%;
  width: 70%;
  max-height: 100%;
}

#cv-frame {
  width: 100%;
  height: 140%;
  position: relative;
}

.cv-options {
  display: none;
  z-index: 10095;
  position: fixed;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fa-times-circle-o {
  z-index: 10095;
  color: white;
  margin-left: 10px;
}

.fa-download {
  z-index: 10095;
  color: white;
  margin-right: 10px;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-height:750px) {
    #name {font-size: 1.2em; top: ;}
    #description {font-size: 1.1em;}
    .title {top: 37%;}
    #my-logo {top: 20%;}
    #head-shot {top: 15%;}
    #modal1 {height: 50%; top: 45%;}
    #modal1 > div.modal-content > h4 {font-size: 1.2rem; line-height: 1.2rem}
    #modal1 > div.modal-content {padding: 14px;}
    #modal1 > div.modal-footer {display: none}
}

@media screen and (max-width:800px) {
  .modal-content {
    width: 100%;
    height: 60%;
  }
}

@media screen and (max-height: 1000px){

  .connectors-outline{
    width: 120px;
    height: 430px;
    border-width: 1px;
  }

  #email {
    font-size: 700%;
  }

  #linked-in {
    font-size: 700%;
  }

  #facebook {
    font-size: 700%;
  }

  #github {
    font-size: 700%;
  }
}

@media screen and (max-height: 700px){

  .connectors-outline{
    width: 120px;
    height: 430px;
  }

  #email {
    font-size: 700%;
  }

  #linked-in {
    font-size: 700%;
  }

  #facebook {
    font-size: 700%;
  }

  #github {
    font-size: 700%;
  }
}

/* .................... */

.nav-wrapper {
  background-color: white;
}

nav ul a {
  color: #007BBA;
}

div.card-content {
  color: #007BBA;
}

nav .brand-logo.right {
  padding: 9px;
}

.mdi-navigation-menu {
  color: #007BBA;
}

@media screen and (max-width: 600px){
  nav img {
    height: 45px;
  }
}

.row .col {
  padding: 20px 20px 0;
}

.row .col .s3 {
  background-color: white;
}

.card .card-image .card-title {
  background-color: #007BBA;
  padding: 10px 10px;
  border: 2px solid black;
  color: white;
  border-radius: 50%;
  height: 62px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
